<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tenant/">Halaman utama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tenant/ads/book/pending/<%=tenant.id%>">Bookingan kamu</a>
            </li>
        </ul>
        <div class="ml-auto nav-item">
            <a class="nav-link active" aria-current="page" href="/tenant/logout">Logout</a>
        </div>
    </div>
</nav>